*{
    margin: 0;
    padding: 0;
    font-family: 'Netflix-Sans', 'Poppins';
    box-sizing: border-box;
}
body{
background-color: #000;
color: #fff;

}
.header{
    width: 100%;
    height: 80vh;
    min-height: 30rem;
    padding: 7.5rem 0 2rem;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.jpg) ; 
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    margin-bottom: 10px;
}
.main{
  background-color: rgb(45, 41, 41);
  margin-bottom: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 0px;
}
.logo{
    width: 150px;
    margin-left: 50px;
    cursor: pointer;
}
select{
    background: transparent;
    color:#fff;
    display: flex;
    padding: 6px 25px;
    font-size:  1rem; 
    border-radius: 4px;
    margin-left: 650px;
    cursor: pointer;
}
nav button {
    background-color: rgb(229, 9, 20);
    color: #fff;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 6px 20px;
    border-radius: 4px;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:visited{
    color:inherit;
}
button:hover
    {opacity:0.9}
.head-content{
   position: absolute;
   font-family: 'Netflix-Sans';
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   margin-top: 100px; ;
}
.head-content h1{
        display: block;
        font-size: 3em;
        font-family: Netflix Sans;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .head-content p{
            display: block;
            font-size: 1.5em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;

    
    }
.email{
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    }
    .email input{
        width: 550px;
        font-size: 20px;
        padding: 15px;
        background: transparent;
        color: #fff;
        border-radius: 4px;
        border: 1px solid gray; 
    }
button{
    background-color: rgb(229, 9, 20);
    color: #fff;
    border: 100px;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 15px;
    border-radius: 4px;
}
  .feature1{
    padding: 50px 12%;
    font-size: 22px;
      height: 80vh;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 10px;
    }
  .feature2{
      height: 80vh;
      font-size: 22px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 10px;
    }
    .feature3{
      padding: 50px 12%;
      height: 80vh;
      font-size: 22px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 10px;
    }
    .feature4{
      height: 80vh;
      font-size: 22px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 10px;
    }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  .img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  .img-col img{
    display: block;
    width: 90%;
    margin: auto;

  }

  .feature1 h2, .feature2 h2, .feature3 h2, .feature4 h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom:20px;
  }
  .faq{
  height: 100vh;
  width: 100%;
  background-color: #000000;
  justify-content: center;
  margin-bottom: 10px;
}
.sum{
  width: 60vw;
  justify-content: left;
  margin: auto;
  padding-top: 5vh;
  display: flex;
}
.sum summary,.sum details{
  color: white;
  font-size: 1.5em;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
    font-weight: 400;
}
.faq p:nth-child(1){
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    padding-top: 70px;
}
.btm_ml{
  height: 20vh;
  font-size: 22px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;  
}
.rdy{
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-weight: 400;
}
.ml{
  background: black;
  width: 24vw;
  height: 8vh;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1em;
  padding-left: 15px;
}
.input {
  justify-content: center;
  margin: auto;
  display: inline;
}
.input::placeholder {
  font-size: 1em;
} 
footer{
  background-color: #000000;
  color: #fff;  
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  height: auto;
  margin-top: 60px;
}
.title{
  margin-bottom: 25px;
  margin-left: 35px;
}
.col{
  display: flex;
  margin: 25px;
  
}
.col ul li{
  list-style: none;
  margin: 15px;
}
.col1{
  width: 30%;
  justify-content: space-around;
}
.col2{
  width: 30%;
  justify-content: space-around;
}
.col3{
  width: 30%;
  justify-content: space-around;
}
.aa{
  margin-top: 85px;
  margin-left: 25px;
}
.btnn{
  margin-left: 25px;
}
  .btm_ml{
    align-items: center;
    margin-bottom: 1px;
    }
    .email1 input{
        width: 550px;
        font-size: 20px;
        padding: 15px;
        background: transparent;
        color: #fff;
        border-radius: 4px;
        border: 1px solid gray; 
    }
    footer p{
      text-align: center;
    }