*{
    margin: 0;
    padding: 0;
    font-family: 'Netflix-Sans', 'Poppins';
    box-sizing: border-box;
}
body{
background-color: #000;
color: #fff;

}
.header{
    width: 100%;
    height: 80vh;
    min-height: 30rem;
    padding: 7.5rem 0 2rem;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.jpg) ; 
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 0px;
}
.logo{
    width: 150px;
    margin-left: 50px;
    cursor: pointer;
}
select{
    background: transparent;
    color:#fff;
    display: flex;
    padding: 6px 25px;
    font-size:  1rem; 
    border-radius: 4px;
    margin-left: 650px;
    cursor: pointer;
}
nav button {
    background-color: rgb(229, 9, 20);
    color: #fff;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 6px 20px;
    border-radius: 4px;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:visited{
    color:inherit;
}
button:hover
    {opacity:0.9}
.head-content{
   position: absolute;
   font-family: 'Netflix-Sans';
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   margin-top: 100px; ;
}
.head-content h1{
        display: block;
        font-size: 3em;
        font-family: Netflix Sans;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .head-content p{
            display: block;
            font-size: 1.5em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;

    
    }
.email{
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    }
    .email input{
        width: 350px;
        font-size: 20px;
        padding: 15px;
        background: transparent;
        color: #fff;
        border-radius: 4px;
        border: 1px solid gray;
        
        
    }
button{
    background-color: rgb(229, 9, 20);
    color: #fff;
    border: 50px;
    font-size: 20px;
    font-weight: 800;
    padding: 15px;
    border-radius: 4px;
}
button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
 button span:after {
    content: '\00bb';
    position:center;
    opacity: 0;
    top: 0;
    right: -100px;
    transition: 0.5s;
  }
  button:hover span {
    padding-right: 10px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  } 
  .features{
    padding: 50px 12%;
    font-size: 22px;
  }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  .img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  .img-col img{
    display: block;
    width: 90%;
    margin: auto;
  }
  .gray-line{
    width: 100%;
    height: 0.7rem;
    position: absolute; 
    bottom: 10.5rem;
    background-color: rgb(35,35,35);
  }
  .gray-line.1{
    width: 100%;
    height: 0.7rem;
    position: absolute;
    bottom: 1rem;
    background-color: rgb(35,35,35);
  }